<div class="container" *ngIf="pelicula">
    <h1>{{pelicula.original_title}}</h1>
    <hr>
    <div class="row animated fadeIn fast">
        <br>
        <div class="col-md-4">
            <img [src]='sanitizer.bypassSecurityTrustUrl(getImage())' alt=""
                class="figure-img img-fluid rounded img-poster">
        </div>

        <div class="col-md-5">
            <br>
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ pelicula.overview }}
            </p>
            <br>
            <h4 *ngIf="pelicula.tagline">Frase célebre</h4>
            <p class="text-justify">
                {{ pelicula.tagline }}
            </p>
            <p>
                Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0"}}</span>
                <br>
                Voto promedio: <span class="badge badge-info">{{pelicula.vote_average}}</span>
            </p>

            <button class="btn btn-outline-danger" [routerLink]="['/'+comebackTo, buscado]">Back home</button>
        </div>

    </div>
</div>