<div class="container">
    <h3>Popular Movies</h3>
    <hr>
    <div class="flex-container animated fadeIn fast" *ngIf="this.movies">
        <div class="flex-item pointer" *ngFor="let movie of movies.results | slice:0:15 ; index as i"
            [routerLink]="['/detail', movie.id, 'home']">
            <img src="{{ movie | moviesImage }}" class="card-img-top">
            <div class="card-division-title">
                <h6 class="card-title">{{movie.title}}</h6>
                <div class="card-puntaje">
                    ⭐ {{movie.vote_average}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h3>On Cinemas</h3>
    <hr>
    <div class="flex-container animated fadeIn fast" *ngIf="this.onCinemas">
        <div class="flex-item" *ngFor="let movie of onCinemas.results | slice:0:15; index as i"
            [routerLink]="['/detail', movie.id, 'home']">
            <img src="{{ movie | moviesImage }}" class="card-img-top">
            <div class="card-division-title">
                <h6 class="card-title">{{movie.title}}</h6>
                <div class="card-puntaje">
                    ⭐ {{movie.vote_average}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>