.container {
  padding-top: 20px;
  min-width: 1200px;
}

.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  border: grey 1px solid;
  cursor: pointer;
}

.card-division-title {
  display: flex;
}

.card-title {
  width: 80%;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.card-puntaje {
  width: 20%;
  font-size: 12px;
  color: grey;
  align-self: flex-end;
}

.card-img-top {
    height: 80%;
}