<div class="container search-container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h5>Search:</h5>
                <input type="text" placeholder="Search for a movie" name="" (keyup.enter)="buscarPelicula()"
                    [(ngModel)]="buscar" class="form-control">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="searching">
        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <hr>

    <div class="row animated fadeIn fast" *ngIf="buscadas">
        <div class="card-columns">
            <div class="card" *ngFor="let movie of buscadas.results"
                [routerLink]="['/detail', movie.id, 'search', buscar]">
                <img src="{{ movie | moviesImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.original_title }}</h5>
                    <p class="card-text text-justify">{{ movie.overview | slice:0:300 }}...</p>
                    <button type="button" class="btn btn-outline-primary btn-block">
                        Ver más..
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>